@media screen and (max-width: 1024px) {
  body {
    .container {
      max-width: 750px;
      width: 300px;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 25px;
    }

    .page-header {
      padding-top: 34px;

      .link {
        margin-left: 0;
      }

      &__place {

        ul {
          justify-content: space-between;
        }

        img {
          width: 200px;
          height: 77px;
        }

        li {
          font-size: 12px;
          margin-right: 10px;

          &:last-child {
            text-align: right;
          }
        }

        .link {
          font-size: 12px;
        }
      }
      &__menu {
        display: none;
      }

      &__menu-mobile {
        display: block;

        // &_popup {
        //   display: block;
        // }
      }
    }

    .page-footer {
      &__menu {
        display: none;
      }

      &__up {
        display: block;
      }
    }

    .slider {
      &__slide {
        height: 450px;
      }

      &__inner {
        width: 750px;
        min-height: 164px;
        margin-left: -375px;
        margin-top: -82px;
      }

      &__arrow {
        display: none;
      }

      &__title {
        font-size: 30px;
      }

      &__subtitle {
        font-size: 20px;
        margin-bottom: 55px;
      }

      &__button {
        margin-right: 28px;
      }

      &__controls {
        bottom: -60px;
      }
    }

    .benefits {
      padding-top: 25px;
      padding-bottom: 25px;

      &__subtitle {
        font-size: 20px;
        margin-bottom: 70px;

        &::after {
          width: 375px;
          margin-left: -187px;
        }
      }

      &__item {
        margin-bottom: 15px;
        width: 50%;
      }
    }

    .products {
      padding-top: 27px;
      padding-bottom: 0;

      &__items {
        flex-wrap: wrap;
        justify-content: space-around;
      }

      &__item {
        margin-bottom: 55px;
        margin-right: 0;
      }
    }

    .feedback {
      padding-top: 40px;
      padding-bottom: 55px;
      &__subtitle {
        font-size: 20px;
        margin-bottom: 70px;

        &::after {
          width: 340px;
          margin-left: -170px;
        }
      }

      &__items {
        margin-left: 0;
      }

      &__item {
        width: 750px;
      }

      &__scrolling {
        width: 622px;
        margin-left: -311px;
        bottom: 55px;
      }

      &__toggle {
        width: 50px;
        height: 50px;
        top: -25px;
        left: 0;
      }
    }

    .works {
      padding-top: 50px;
      padding-bottom: 40px;

      &__subtitle {
        font-size: 20px;
        margin-bottom: 70px;

        &::after {
          width: 287px;
          margin-left: -143px;
        }
      }

      &__item {
        width: 25%;

        &:nth-child(3n) {
          display: none;
        }
      }
    }

    .partner {
      padding-top: 50px;
      padding-bottom: 40px;

      &__subtitle {
        font-size: 20px;
        margin-bottom: 70px;

        &::after {
          width: 420px;
          margin-left: -210px;
        }
      }

      &__text {
        width: 610px;
        margin-bottom: 30px;
      }
    }

    .contact {
      padding-top: 50px;
      padding-bottom: 40px;

      &__subtitle {
        font-size: 20px;
        margin-bottom: 70px;

        &::after {
          width: 420px;
          margin-left: -210px;
        }
      }

      &__form {
        width: 750px;
      }
    }

    .map {
      height: 432px;

      &__contacts {
        width: 367px;
        height: 432px;
      }

      &__title {
        margin-bottom: 25px;

        &::after {
          width: 196px;
          margin-left: -98px;
        }
      }

      &__text {
        padding-left: 20px;
        padding-right: 65px;
        margin-bottom: 30px;
        font-size: 15px;
      }
    }

    .page-title {
      padding-top: 135px;
      padding-bottom: 30px;
    }

    .page-menu {
      ul {
        flex-wrap: wrap;
      }

      li {
        margin-bottom: 15px;
      }
    }

    .product-item {
      padding-top: 32px;
      padding-bottom: 33px;
      padding-left: 20px;
      padding-right: 30px;
      margin-bottom: 30px;

      &__title {
        text-align: center;
      }

      &__left {
        width: 330px;
        margin-right: 10px;
      }

      &__right {
        width: 360px;
      }

      &__image {
        margin-bottom: 30px;

        &:nth-child(3n) {
          display: none;
        }
      }
    }

    .breadcrambs {
      a {
        font-size: 20px;

        &::after {
          top: 24px;
        }
      }
    }

    .articles {
      &__left {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
      }

      &__right {
        display: none;
      }

      &__item {
        width: 340px;
      }
    }

    .feedback-page {
      &__item {
        margin-right: 0;

        &_tablet {
          display: block;
        }
      }
    }

    .contacts {
      &__adress {
        margin-bottom: 35px;
      }

      &__map {
        width: 430px;
        height: 430px;
        margin-right: 20px;
      }

      &__text {
        p {
          font-size: 15px;
          margin-bottom: 35px;
        }
      }

      &__form {
        margin-bottom: 0;
      }

      .contact__form {

        form {
          justify-content: space-around;
        }

        &-right {
          width: 360px;
        }
      }
    }

    .text-page {
      padding: 10px;
    }
  }
}


@media screen and (max-width: 767px) {
  body {
    font-size: 12px;

    .button {
      width: 125px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
    }
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 17px;
    }

    p {
      font-size: 13px;
    }

    .page-header {
      &__place {
        display: none;
      }

      &__menu-mobile {
        width: 100%;

        &_burger {
          top: 35px;
        }

        &_cross {
          top: 34px;
        }
      }

      &__place-mobile {
        display: block;
      }

      &__menu-mobile_place {
        display: block;
        position: absolute;
        top: 34px;
        right: 13px;

        li {
          font-size: 12px;
          line-height: 1.2;
          text-align: right;
          padding-bottom: 5px;
          color: #bbb;
        }

        .link {
          font-size: 12px;
          line-height: 1.2;
          color: #bbb;
        }
      }

      &__menu-mobile_popup {
        width: 100%;
        padding-top: 125px;
      }
    }

    .page-footer {

      img {
        width: 126px !important;
        height: 48px !important;
      }

      &__copyright {
        font-size: 9px;
      }

      &__up {
        &_text {
          font-size: 15px;

          &::after {
            top: -15px;
          }
        }
      }
    }

    .slider {
      &__slide {
        height: 230px;
      }

      &__inner {
        width: 300px;
        min-height: 100px;
        max-width: 750px;
        margin-top: -20px;
        margin-left: -150px;
      }

      &__title {
        font-size: 15px;
      }

      &__subtitle {
        font-size: 12px;
        margin-bottom: 20px;
      }

      &__controls {
        bottom: -20px;
      }
    }

    .benefits {
      &__subtitle {
        font-size: 15px;
        margin-bottom: 40px;

        &::after {
          width: 252px;
          margin-left: -126px;
        }
      }

      &__item {
        min-height: 90px;

        &_title {
          font-size: 12px;
        }
      }
    }

    .products {
      &__image {
        height: 100px;
      }

      &__title {
        font-size: 20px;
      }

      &__text {
        min-height: 200px;
        padding-top: 15px;
      }

      &__link {
        .button {
          height: 60px;
          line-height: 60px;
        }
      }
    }

    .feedback {
      &__subtitle {
        font-size: 15px;
        margin-bottom: 40px;

        &::after {
          width: 230px;
          margin-left: -115px;
        }
      }

      &__items {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }

      &__item {
        display: none;
        width: 100%;
        flex-direction: column;
      }

      .showed {
        display: block;
      }

      figure {
        .nulled;
        width: 100%;
        text-align: center;
      }

      &__image {
        width: 103px;
        height: 94px;
        display: inline-block;
      }

      figcaption {
        display: inline-block;
        width: 150px;
      }

      &__text {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
      }

      &__scrolling {
        display: none;
      }

      &__controls {
        display: block;
      }
    }

    .works {
      padding-top: 10px;
      padding-bottom: 25px;

      &__subtitle {
        font-size: 15px;
        margin-bottom: 40px;

        &::after {
          width: 230px;
          margin-left: -115px;
        }
      }

      &__item {
        width: 145px;
        height: 188px;

        img {
          width: 145px;
          height: 188px;
        }

        &:nth-child(2n) {
          display: none;
        }
      }
    }

    .partner {
      padding-top: 30px;
      padding-bottom: 35px;

      &__subtitle {
        font-size: 15px;
        margin-bottom: 40px;

        &::after {
          width: 230px;
          margin-left: -115px;
        }
      }

      &__text {
        width: 300px;
        font-size: 13px;
      }

      &__button {
        .button {
          font-size: 13px;
        }
      }
    }

    .contact {
      padding-top: 30px;
      padding-bottom: 20px;
      margin-bottom: 0;

      &__subtitle {
        font-size: 15px;
        margin-bottom: 40px;

        &::after {
          width: 230px;
          margin-left: -115px;
        }
      }

      form {
        display: block;
      }

      &__form-left {
        width: 300px;
        display: block;
      }

      &__form-right {
        width: 300px;
        display: block;
      }

      &__button {
        width: 300px;
        display: block;
      }
    }

    .map {
      display: none;
    }

    .map-mobile {
      display: block;
    }

    .page-title {
      padding-top: 100px;
    }

    .page-menu {
      display: none;
    }

    .product-item {
      margin-top: 10px;

      &__image {
        display: none;
      }
    }

    .breadcrambs {
      display: none;
    }

    .articles {
      &__left {
        margin-top: 10px;
      }

      &__button {
        text-align: center;
      }
    }

    .article {
      padding-left: 10px;
      padding-right: 10px;
    }

    .feedback-page {
      margin-top: 20px;
    }
  }
}
