<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>УТК</title>
	<meta name="description" content="Изготовление ограждающих конструкций из нержавеющей стали">
	<meta name="keywords" content="Ограждения из нержавеющей стали, Лестничные ограждения, Ограждения балконов, Оборудование для инвалидов, Стеклянные ограждения лестниц, Ограждения из стали, Ограждения с деревом, Нестандартные конструкции, Выезд по Уралу, Доступное ограждение, работы по установке эконом конструкций, Ремонт ограждений, конструкций из нержавеющей, изготовления и установки конструкций из нержавеющей стали">
	<meta name="author" content="Varvara Bazhukova">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="yandex-verification" content="a4a9263a442694c1">
	<meta name="google-site-verification" content="HJkWwanngrcSiNyHo_cJFWaYuaxQPXZCf50ZPpNjV-g">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<link rel="stylesheet" href="css/more.css" type="text/css" />
</head>
<body>



<header class="page-header" id="top">

  <div class="container">

    <section class="page-header__place">

      <ul>

        <li>г. Екатеринубрг, ул.&#160;Машиностроителей&#160;19/1,&#160;офис&#160;102</li>

        <li>
          <img src="images/logo.png" alt="logo">
        </li>

        <li>+7 (343) 233-33-33
					<a href="" class="link call__btn">Заказать звонок</a>
				</li>

      </ul>

    </section>

		<section class="page-header__place-mobile">

			<ul>

				<li>
					<img src="images/logo.png" alt="logo">
				</li>

				<li>+7 (343) 233-33-33</li>

			</ul>

		</section>

    <section class="page-header__menu">

      <ul>

        <li>
          <a href="product.html" class="page-header__menu_link link">Лестницы</a>
        </li>

        <li>
          <a href="product.html" class="page-header__menu_link link checked">Перила и ограждения</a>
        </li>

        <li>
          <a href="product.html" class="page-header__menu_link link">Поручни</a>
        </li>

        <li>
          <a href="product.html" class="page-header__menu_link link">Изделия</a>
        </li>

        <li>
          <a href="" class="page-header__menu_link link page-header__menu_link_services">Услуги</a>

          <ul class="page-header__menu_submenu page-header__menu_submenu_services">

            <li><a href="text.html" class="page-header__menu_sublink link">Монтаж</a></li>

            <li><a href="text.html" class="page-header__menu_sublink link">Демонтаж</a></li>

            <li><a href="text.html" class="page-header__menu_sublink link">Ремонт</a></li>

            <li><a href="text.html" class="page-header__menu_sublink link">Модернизация</a></li>

          </ul>

        </li>

        <li>
          <a href="" class="page-header__menu_link link page-header__menu_link_info">Информация</a>

          <ul class="page-header__menu_submenu page-header__menu_submenu_info">

            <li><a href="articles.html" class="page-header__menu_sublink link">Статьи</a></li>

            <li><a href="" class="page-header__menu_sublink link">Вопрос-ответ</a></li>

            <li><a href="" class="page-header__menu_sublink link">Акции</a></li>

            <li><a href="" class="page-header__menu_sublink link">Сотрудничество</a></li>

            <li><a href="feedback.html" class="page-header__menu_sublink link">Отзывы</a></li>

            <li><a href="" class="page-header__menu_sublink link">Гарантии</a></li>

          </ul>

        </li>

        <li>
          <a href="" class="page-header__menu_link link  page-header__menu_link_company">О Компании</a>

          <ul class="page-header__menu_submenu page-header__menu_submenu_company">

            <li><a href="" class="page-header__menu_sublink link">История</a></li>

            <li><a href="" class="page-header__menu_sublink link">Вакансии</a></li>

            <li><a href="contacts.html" class="page-header__menu_sublink link">Контакты</a></li>

          </ul>

        </li>

      </ul>

    </section>

  </div>

	<section class="page-header__menu-mobile">

		<div class="page-header__menu-mobile_burger"></div>

		<div class="page-header__menu-mobile_popup">

			<div class="page-header__menu-mobile_cross"></div>

			<div class="page-header__menu-mobile_place">

				<ul>

					<li>+7 (343) 233-33-33</li>

					<li><a href="" class="link call__btn">Заказать звонок</a></li>

					<li>г. Екатеринубрг,<br>ул. Машиностроителей 19/1, офис 102</li>

				</ul>

			</div>

			<ul>

				<li>
					<a href="product.html" class="page-header__menu-mobile_link">Лестницы</a>
				</li>

				<li>
					<a href="product.html" class="page-header__menu-mobile_link">Перила и ограждения</a>
				</li>

				<li>
					<a href="product.html" class="page-header__menu-mobile_link">Поручни</a>
				</li>

				<li>
					<a href="product.html" class="page-header__menu-mobile_link">Изделия</a>
				</li>

				<li>
					<a href="" class="page-header__menu-mobile_link">Услуги</a>

          <ul class="page-header__menu-mobile_submenu">

            <li><a href="text.html" class="page-header__menu-mobile_sublink">Монтаж</a></li>

            <li><a href="text.html" class="page-header__menu-mobile_sublink">Демонтаж</a></li>

            <li><a href="text.html" class="page-header__menu-mobile_sublink">Ремонт</a></li>

            <li><a href="text.html" class="page-header__menu-mobile_sublink">Модернизация</a></li>

          </ul>

				</li>

				<li>
					<a href="" class="page-header__menu-mobile_link">Информация</a>

          <ul class="page-header__menu-mobile_submenu">

            <li><a href="articles.html" class="page-header__menu-mobile_sublink">Статьи</a></li>

            <li><a href="" class="page-header__menu-mobile_sublink">Вопрос-ответ</a></li>

            <li><a href="" class="page-header__menu-mobile_sublink">Акции</a></li>

            <li><a href="" class="page-header__menu-mobile_sublink">Сотрудничество</a></li>

						<li><a href="feedback.html" class="page-header__menu-mobile_sublink">Отзывы</a></li>

						<li><a href="" class="page-header__menu-mobile_sublink">Гарантии</a></li>

          </ul>

				</li>

				<li>
					<a href="" class="page-header__menu-mobile_link">О Компании</a>

          <ul class="page-header__menu-mobile_submenu">

            <li><a href="" class="page-header__menu-mobile_sublink">История</a></li>

            <li><a href="" class="page-header__menu-mobile_sublink">Вакансии</a></li>

            <li><a href="contacts.html" class="page-header__menu-mobile_sublink">Контакты</a></li>

          </ul>

				</li>

			</ul>

		</div>

	</section>

</header>
