
<header class="page-header">

	<div class="container">

		<div class="page-header__contacts">

			<ul>

				<li><a href="tel:+73433616250">+7 (343) 361-62-50</a></li>

				<li>
					<img alt="logo" src="images/img/header-logo.png" width="153" height="122">
				</li>

				<li><a href="tel:+79221816250">+7 (922) 181-62-50</a></li>

			</ul>

		</div>

		<div class="page-header__navigation">

			<ul>

				<li>
					<a href="#services" class="nav-link" id="header-services-link">Услуги</a>
				</li>

				<li>
					<a href="#benefits" class="nav-link" id="header-benefits-link">Приемущества</a>
				</li>

				<li>
					<a href="#econom" class="nav-link" id="header-econom-link">Эконом</a>
				</li>

				<li>
					<a href="#works" class="nav-link" id="header-works-link">Работы</a>
				</li>

				<li>
					<a href="#costs" class="nav-link" id="header-costs-link">Стоимость</a>
				</li>

				<li>
					<a href="#stages" class="nav-link" id="header-stages-link">Этапы</a>
				</li>

				<li>
					<a href="#feedback" class="nav-link" id="header-feedback-link">Отзывы</a>
				</li>

				<li>
					<a href="#repair" class="nav-link" id="header-repair-link">Ремонт</a>
				</li>

				<li>
					<a href="#contacts" class="nav-link" id="header-contacts-link">Контакты</a>
				</li>

			</ul>

		</div>

		<h1 class="page-title">Ограждения любой сложности под ключ</h1>

		<span class="page-subtitle">Быстро, качественно, доступно</span>

		<a href="#" class="btn page-header__btn order__btn">Заказать</a>

	</div>

</header>
