
<header class="page-header">

  <div class="container">

    <section class="page-header__place">

      <ul>

        <li>г. Екатеринубрг, ул. Машиностроителей 19/1, офис 102</li>

        <li>
          <img src="images/logo.png" alt="logo" width="300" height="115">
        </li>

        <li>+7 (343) 233-33-33</li>

        <li>
          <a href="" class="link">Заказать звонок</a>
        </li>

      </ul>

    </section>

    <section class="page-header__menu">

      <ul>

        <li>
          <a href="" class="page-header__menu_link link">Лестницы</a>
        </li>

        <li>
          <a href="" class="page-header__menu_link link checked">Перила и ограждения</a>
        </li>

        <li>
          <a href="" class="page-header__menu_link link">Поручни</a>
        </li>

        <li>
          <a href="" class="page-header__menu_link link">Изделия</a>
        </li>

        <li>
          <a href="" class="page-header__menu_link link">Услуги</a>

          <ul class="page-header__menu_submenu">

            <li><a href="" class="page-header__menu_sublink link">1</a></li>

            <li><a href="" class="page-header__menu_sublink link">2</a></li>

            <li><a href="" class="page-header__menu_sublink link">3</a></li>

            <li><a href="" class="page-header__menu_sublink link">4</a></li>

          </ul>

        </li>

        <li>
          <a href="" class="page-header__menu_link link">Информация</a>

          <ul class="page-header__menu_submenu">

            <li><a href="" class="page-header__menu_sublink link">1</a></li>

            <li><a href="" class="page-header__menu_sublink link">2</a></li>

            <li><a href="" class="page-header__menu_sublink link">3</a></li>

            <li><a href="" class="page-header__menu_sublink link">4</a></li>

            <li><a href="" class="page-header__menu_sublink link">5</a></li>

            <li><a href="" class="page-header__menu_sublink link">6</a></li>

          </ul>

        </li>

        <li>
          <a href="" class="page-header__menu_link link">О Компании</a>

          <ul class="page-header__menu_submenu">

            <li><a href="" class="page-header__menu_sublink link">1</a></li>

            <li><a href="" class="page-header__menu_sublink link">2</a></li>

            <li><a href="" class="page-header__menu_sublink link">3</a></li>

          </ul>

        </li>

      </ul>

    </section>

  </div>

</header>
